node_modules
.expo
.next
dist
build
.env
.env.local
*.log
.DS_Store
coverage

# Custom ignores
.claude/
*.md
apps/mobile/android/app/google-servicesold.json
apps/agent-mobile/android/app/google-servicesold.json
